<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}        
        <div class="newsletter-container">
            <h4 class="newsletter-title">Subscribe</h4>
            <!-- <p class="newsletter-text"></p> -->
            <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=TheDucksDiarrhea', 'popupwindow', 'scrollbars=yes,width=810,height=810');return true">
                <p class="newsletter-text">Get new posts to your inbox</p>
                <input type="hidden" value="TheDucksDiarrhea" name="uri" />
                <input type="hidden" name="loc" value="en_US" />
                <input class="newsletter-email" type="text" name="email" placeholder="name@example.com" />
                <input class="newsletter-submit" type="submit" value="Subscribe" />
            </form>          
        </div>
      </div>
      {% include footer.html %}      
    </div>

<!-- load mathjax -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

  </body>
</html>
