<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
        <div  id="fb-root"></div>
        <script>(function(d, s, id) {
            var  js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=343864666827805";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="newsletter-container">
            <h4 class="newsletter-title">Subscribe</h4>
            <!-- <p class="newsletter-text"></p> -->
            <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=TheDucksDiarrhea', 'popupwindow', 'scrollbars=yes,width=900,height=900');return true">
                <p class="newsletter-text">Get new posts to your inbox</p>
                <input type="hidden" value="TheDucksDiarrhea" name="uri" />
                <input type="hidden" name="loc" value="en_US" />
                <input class="newsletter-email" type="text" name="email" placeholder="name@example.com" />
                <input class="newsletter-submit" type="submit" value="Subscribe" />
            </form>
        </div>
      </div>
      
      {% include footer.html %}
    </div>

<!-- load mathjax -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

  </body>
</html>
